{% extends "base.html" %}

{% block extra_scripts %}{% endblock %}
{% block extra_header %}{% endblock %}

{% block content %}
<div class="content">
	<div class="right_content">
		{% if response != 'error' %}
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    {% for message in messages %}
			      <div class="alert alert-success alert-dismissible" role="alert">
				      <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
				      {{ message }}
			      </div>
			    {% endfor %}
			  {% endif %}
			{% endwith %}
		{% else %}
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    {% for message in messages %}
			      <div class="alert alert-danger alert-dismissible" role="alert">{{ message }}
			      	<button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
			      </div>
			    {% endfor %}
			  {% endif %}
			{% endwith %}
		{% endif %}
	</div>
	<div class="left_content">
		<div class="latency_block">
			<h2>LATENCY N/A</h2>
		</div>
		
		<div class="left_block1">
			<h2>Log</h2>
			<hr class="custom_breaker">
			{% if session.rp.connected %}
				<label>IP: </label><label name="rp_active_ip">{{ session.rp.ip }}</label><br>
				<label>Name: </label><label name="rp_active_name">{{ session.rp.name }}</label><br>
				<label>Active: </label ><label name="rp_active_uptime">{{ session.rp.active }}</label><br>
				<label>Version: </label><label name="rp_active_version">{{ session.rp.version }}</label><br>
				<label>File system: </label><label name="rp_active_fs">{{ session.rp.fs }}</label><br>
				<label>Fpga system: </label><label>{{ session.rp.fpga }}</label name="rp_active_fpga"><br>
			{% else %}
				<label>IP: </label><label name="rp_active_ip">--</label><br>
				<label>Name: </label><label name="rp_active_name">--</label><br>
				<label>Active: </label ><label name="rp_active_uptime">--</label><br>
				<label>Version: </label><label name="rp_active_version">--</label><br>
				<label>File system: </label><label name="rp_active_fs">--</label><br>
				<label>Fpga system: </label><label name="rp_active_fpga">--</label><br>
			{% endif %}
		</div>

		<div class="left_block2">
			<h2>Avaliable Red Pitaya</h2>
			<hr class="custom_breaker">
			{% for ip, pitaya in session.avaliable_pitaya.iteritems() %}
				<form action="/connect" method="post">
					<button ng-click="changePitayaState($event)" ng-name="button_pitaya" type="submit" class="connect col-xs-12" data-value="{{ ip }}:{{ pitaya }}" onclick="connectPitaya(this)">{{ pitaya }}</button>
				</form>
			{% endfor %}
			<br>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
	function connectPitaya(object) {
		/*
	    var socket = io.connect(
	    	'http://' + document.domain + ':' + location.port + '/test');
	    socket.on('response', function(msg) {
	    	console.log("GOT RESPONSE");
	    });*/

	    // Change class of the button.
	    $(object).toggleClass('connect').toggleClass('disconnect');
	}
</script>
{% endblock %}  
