</!DOCTYPE html>
<html>
<head>
  <title>Remote system</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form" method="post">
        <input type="text" name="data.username" placeholder="username" value/>
        <input name="data.password" type="password" placeholder="password"/>
        <button class="btn btn-default" type="submit">LOGIN</button>
        {% if error %}
          <p class="error message" style="color:red">{{ error }}</p>
        {% endif %}
      </form>
    </div>
  </div>
</body>
</html>
