<div class="content" ng-controller="mainPageController">
	<div class="right_content">
		<div class="apps_list">
			<div class="app_block" ng-repeat="(name, data) in avaliable_apps">
				<div class="app_icon">
					<a href="{$ data.start_app $}" target="embedded_app"><img src="http://{$ rp.ip $}/{$ name $}/info/icon.png" style="width: 100% height: 120%; float: center;"></a>
				</div>
				<div class="app_desc">{$ name $}</div>
			</div>
		</div>
		<div class="active_app">
			<iframe id="embedded_app" name="embedded_app" src="" style="width: 100%; height: 650px;">
				NO APPLICATION CONNECTED
			</iframe>
		</div>
	</div>
	<div class="left_content">
		<div class="latency_block">
			<h2 id="latency">LATENCY {$ latency $}</h2>
		</div>
		
		<div class="left_block1">
			<table class="connection_data_table">
				<tr>
					<td id="ip_data" name="rp_active_ip" ng-model="rp_ip"><strong>{$ rp.ip $}</strong></td>
				</tr>
				<tr>
					<td class="second_stats" name="rp_active_name" ng-model="rp_name"><strong>NAME</strong> {$ rp.name $}</td>
				</tr>
				<tr>
					<td class="second_stats" name="rp_active_active" ng-model="rp_ip"><strong>ACTIVE</strong> {$ rp.active $}</td>
				</tr>
				<tr>
					<td class="second_stats" name="rp_active_version" ng-model="rp_version"><strong>VERSION</strong> {$ rp.version $}</td>
				</tr>
				<tr>
					<td class="second_stats" name="rp_active_fs" ng-model="rp_fs"><strong>FILESYSTEM</strong> {$ rp.fs $}</td>
				</tr>
				<tr>
					<td class="second_stats" name="rp_active_fpga" ng-model="rp_fpga"><strong>FPGA VERSION</strong> {$ rp.fpga $}</td>
				</tr>
        	</table>
        	<br>
		</div>

		<div class="left_block2">
			<h2>Avaliable Red Pitaya</h2>
			<hr class="custom_breaker">
			<div class="left_block2" ng-repeat="(ip, name) in avaliable_pitaya">	
				<form>
					<button name="button_pitaya" class="col-xs-12" ng-init="index=0; classes=['connect', 'disconnect']" ng-click="changePitayaState(classes[index % classes.length], ip, name); index = index + 1" ng-class="classes[index]"value="{{ ip }}:{{ name }}">{$ name $}</button>
					<hr class="custom_breaker">
				</form>
			</div>
		</div>
	</div>
</div>
