<div class="content content_registers" ng-controller="registerController">
	<ul class="nav nav-tabs">
	  <li><a data-toggle="tab" data-target="#house_keep">HOUSE KEEP</a></li>
	  <li><a data-toggle="tab" data-target="#oscilloscope">OSCILLOSCOPE</a></li>
	  <li><a data-toggle="tab" data-target="#generator">GENERATOR</a></li>
	  <li><a data-toggle="tab" data-target="#pid_controller"">PID CONTROLLER</a></li>
	  <li><a data-toggle="tab" data-target="#mixed_signals">MIXED SIGNALS</a></li>
	  <li><a data-toggle="tab" data-target="#daisy_chain">DAISY CHAIN</a></li>
	</ul>

	<div class="tab-content">
	  <div id="house_keep" class="tab-pane fade in active">
	    <h3>HOUSE KEEP</h3>
	    <table id="house_keep_table" class="table table-stripped">
            <tbody>
                <tr ng-repeat="(register, binary) in registers[0]" id="{$ register $}" class="state_table">
	                <td lass="col-xs-1 state state_header">state</td>
	                <td ng-repeat="i in range('32')" id="{$ i $}" class="state state_version">{$ binary[i] $}</td>
	                <td class="col-xs-1 state state_decimal">{$ binary[32] $}</td>
                </tr>
            </tbody>
        </table>
	  </div>
	  <div id="oscilloscope" class="tab-pane fade">
	    <h3>OSCILLOSCOPE</h3>
	    <table id="oscilloscope_table" class="table table-stripped">
            <tbody>
                <tr ng-repeat="(register, binary) in registers[1]" id="{$ register $}" class="state_table">
	                <td class="col-xs-1 state state_header">state</td>
	                <td ng-repeat="i in range('32')" id="{$ i $}" class="state state_version">{$ binary[i] $}</td>
	                <td class="col-xs-1 state state_decimal">{$ binary[32] $}</td>
                </tr>
            </tbody>
        </table>
	  </div>
	  <div id="generator" class="tab-pane fade">
	    <h3>GENERATOR</h3>
	    <table id="generator_table" class="table table-stripped">
            <tbody>
                <tr ng-repeat="(register, binary) in registers[2]" id="{$ register $}" class="state_table">
	                <td class="col-xs-1 state state_header">state</td>
	                <td ng-repeat="i in range('32')" id="{$ i $}" class="state state_version">{$ binary[i] $}</td>
	                <td class="col-xs-1 state state_decimal">{$ binary[32] $}</td>
                </tr>
            </tbody>
        </table>
	  </div>
	  <div id="pid_controller" class="tab-pane fade">
	    <h3>PID CONTROLLER</h3>
	    <table id="pid_controller_table" class="table table-stripped">
            <tbody>
                <tr ng-repeat="(register, binary) in register.PIDCONTROLLER" id="{$ register $}" class="state_table">
	                <td id="state_header" class="col-xs-1 state state_header">{$ register $}</td>
	                <td ng-repeat="i in range('32')" id="{$ i $}" class="state state_version">{$ binary[i] $}</td>
	                <td id="state_header" class="col-xs-1 state state_decimal">{$ binary[32] $}</td>
                </tr>
            </tbody>
        </table>
	  </div>
	  <div id="mixed_signals" class="tab-pane fade">
	    <h3>MIXED SIGNALS</h3>
	    <table id="mixed_signals_table" class="table table-stripped">
            <tbody>
                <tr ng-repeat="(register, binary) in registers[4]" id="{$ register $}" class="state_table">
	                <td class="col-xs-1 state state_header">state</td>
	                <td ng-repeat="i in range('32')" id="{$ i $}" class="state state_version">{$ binary[i] $}</td>
	                <td class="col-xs-1 state state_decimal">{$ binary[32] $}</td>
                </tr>
            </tbody>
        </table>
	  </div>
	  <div id="daisy_chain" class="tab-pane fade">
	    <h3>DAISY CHAIN</h3>
	    <table id="daisy_chain_table" class="table table-stripped">
            <tbody>
                <tr ng-repeat="(register, binary) in registers[5]" id="{$ register $}" class="state_table">
	                <td lass="col-xs-1 state state_header">state</td>
	                <td ng-repeat="i in range('32')" id="{$ i $}" class="state state_version">{$ binary[i] $}</td>
	                <td class="col-xs-1 state state_decimal">{$ binary[32] $}</td>
                </tr>
            </tbody>
        </table>
	  </div>
	</div>
</div>