<div class="content" ng-controller="savedDataController">
	<div class="saved_data_block col-xs-3" ng-repeat="(name, data) in saved_data_list">
		<a href="" ng-click="showData(name, data)">
		<div class="saved_data_inner">
			<div class="saved_d_picture">
				<img src="/static/templates/images/saved_data_icon.png" style="height: 63px; width: 100px;">
			</div>
			<div class="saved_d_details">
				<div class="save_name">
					{$ name $}	
				</div>
				<div class="save_date">
					{$ data.date $}
				</div>
			</div>
		</div>
		</a>
	</div>
  	<modal visible="showModal">
  	</modal>
</div>