<div class="content" ng-controller="savedDataController">
	<div class="saved_data_block col-xs-4" ng-repeat="(name, data) in saved_data_list">
		
		<div class="saved_data_inner">
			<a href="" ng-click="showData(name, data)">
			<div class="saved_d_picture">
				<img src="/static/templates/images/saved_data_icon.png">
			</div>
			</a>
			<div class="saved_d_details">
				<div class="save_block">
					{$ name $}	
				</div>
				<div class="save_block">
					{$ data.date $}
				</div>
				<div class="save_block">
					<button class="btn btn-primary" ng-click="deleteData(data.date)">DELETE</button>
				</div>
			</div>
		</div>
	</div>
  	<modal visible="showModal">
  	</modal>
</div>