<dvi class="content scpi_content">
	<div class="settings_header">
		<h2><strong>EXECUTE SCPI COMMAND</strong></h2>
	</div>
	<hr class="custom_breaker">

	<div class="form_data">
		<form action="" class="form-horizontal">
			<label for="username">Execute Scpi Command</label>
			<div class="form-group">
			    <div class="col-xs-5 col-sm-5">
			      <input class="form-control" id="scpi_command" name="scpi_command" type="text" placeholder="SC[PI]:COMmand">
			    </div>
			    <div class="col-xs-5 col-sm-5">
			      <input class="form-control" id="scpi_args" name="scpi_args" type="username" placeholder="SCPI ARG1; SCPI ARGS2;">
			    </div>
			    <div class="col-xs-2">
		      		<button name="scpi_command" class="btn btn-primary" type="submit">GO</button>
		    	</div>
		  	</div>
		 </form>
	</div>
	<div class="settings_header">
		<h2><strong>EXECUTE CUSTOM SCRIPT</strong></h2>
	</div>
	<hr class="custom_breaker">
	<div>
		<div class="scpi_script">
		  <label for="username">Execute custom scpi script</label>
		  <textarea class="form-control" rows="5" id="comment">
import sys
# import redpitaya_scpi as scpi
# The remote system takes care of all the imports

rp_s = scpi.scpi({$ connected ? rp.ip : None; $})
		  </textarea>
		</div>
		<br>
		<div class="text_area_buttons">
			<button class="btn btn-primary">EXECUTE SCRIPT</button>
			<button class="btn btn-primary">SCPI COMMANDS</button>
		</div>
	</div>
</dvi>